<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="classes">
  <test name="ChromeTest">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="testNGClass1.BuyShare"/>
      <class name="testNGClass1.BuyShare1"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="OperaTest">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="testNGClass1.BuyShare"/>
      <class name="testNGClass1.BuyShare1"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
